.table {
  width: 90%;
  margin: 100px auto;

  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 16px;
}

.tableHead {
  background-color: var(--color-bg);
  text-align: left;
  padding: 12px 8px;
  border: 1px solid #ccc;
}
