.sliderContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--color-bg-table);
  max-width: 75%;
  margin: 100px auto 20px;
  padding: 30px;
}

.arrowBtn {
  border: none;
  background-color: transparent;
  border-radius: 50%;

  cursor: pointer;
}

.arrowImage {
  width: 55px;
  height: 55px;
  transition: transform 0.2s ease;
}

.arrowBtn:hover .arrowImage {
  transform: scale(1.05) scaleX(1); /* по умолчанию */
}

.buttonNext {
  transform: scaleX(-1);
}

.pages {
  flex-basis: 100%;
  text-align: center;
}

.studiedWords {
  max-width: 25%;
  margin: 0 auto;
  padding: 12px 30px;
  text-align: center;
  background-color: var(--color-bg);
  border: 1px solid var(--color-newborder);
  border-radius: var(--radius);
}

.emptySlider {
  padding: 25px;
  text-align: center;
  font-size: 18px;
  color: var(--color-error);
}
