.tableData {
  padding: 10px 8px;
  border: 1px solid #ddd;
  background-color: #ffffff8a;
}

.input {
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  font-size: var(--font-size-sm);
  outline-color: var(--color-accent, #0077cc);
}

.actionButtons {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.button {
  padding: 6px 10px;
  border: 1px solid #999;
  border-radius: var(--radius);
  background-color: var(--color-bg);

  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover {
  background-color: var(--color-accent-hover);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
