.tableData {
  padding: 10px 8px;
  border: 1px solid var(--color-border, #ddd);
  background-color: #ffffff8a;
  text-align: center;
}

.input {
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  font-size: var(--font-size-sm);
  outline-color: var(--color-accent, #e99685);
}

.actionButtons {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.editingButton {
  padding: 11px 10px;
  border: 1px solid #999;
  border-radius: var(--radius);
  background-color: var(--color-bg);

  cursor: pointer;
  transition: 0.2s ease;
}

.button {
  padding: 6px 10px;
  border: 1px solid #999;
  border-radius: var(--radius);
  background-color: var(--color-bg);

  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover {
  background-color: var(--color-accent-hover);
  box-shadow: var(--box-shadow);
}

.invalid {
  border: 1px solid var(--color-error);
  outline-color: var(--color-error, #cc0033);
}

.error {
  text-align: center;
  font-size: 12px;
  color: var(--color-error);
}
