:root {
  --primary-color: rgb(255, 224, 211);

  --font-main: "Arial", sans-serif;
  --color-bg: #f9f9f9;
  --color-text: #333;
  --color-bg-table: #ffffff8a;
  --color-accent-hover: #fff0eb;
  --color-accent: #e99685;
  --color-error: #cc0033;
  --color-border: #ddd;
  --color-newborder: #ccc;
  --color-border-hover: #f46d6d;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --radius: 5px;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
